<h1><a href="/">Contacts</a></h1>

<!-- pagination -->
<% unless @contacts.length < 3 %>
  <div>
    <%= "<a href='/contacts?page=#{@page + 1}&query=#{@search}'>Next Page</a>" %>
  </div>
<% end %>
<% if @page > 1 %>
  <div>
    <%= "<a href='/contacts?page=#{@page - 1}&query=#{@search}'>Previous Page</a>" %>
  </div>
<% end %>

<!-- search form -->
<form action="/contacts" method="get">
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

<ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.name %> - <%= contact.phone_number %></li>
  <% end %>
</ul>
