<h1>Contacts</h1>
<h2>Add a New Contact</h2>

<form action="/contacts" method="post">
  <input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="text" name="phone_number" placeholder="Phone Number">
  <input type="submit" valie="Submit">
</form>
